body {
  .ant-btn {
    // font-size: 18px;
    // height: 40px;
  }
  // .ant-btn-primary2 {
  //   background-image: linear-gradient(
  //     180deg,
  //     #399cf1 0%,
  //     #4affc0 100%
  //   ) !important;
  //   box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.5),
  //     2px 2px 11px 0 rgba(0, 0, 0, 0.5);
  //   border: none;
  //   color: #fff !important;
  //   &:hover {
  //     opacity: 0.9;
  //   }

  //   &:active {
  //     opacity: 1;
  //   }

  //   &.big {
  //     font-size: 30px;
  //     height: 48px;
  //     line-height: 40px;
  //   }
  // }

  .ant-btn-info {
    background-color: #3e4859;
    border-color: #3e4859;
    color: #fff;

    box-shadow: 1px 1px 10px rgb(56 65 80 / 0%);

    &:hover,
    &:focus,
    &:active {
      background-color: #384150;
      color: #fff;
      // box-shadow: 1px 1px 10px #384150;
      // outline: none;
    }
  }

  .ant-btn-primary {
    &.big {
      // font-size: 26px;
      // height: 58px;
      // line-height: 38px;
    }
  }
}
