@font-face {
  font-family: "iconfont"; /* Project id 3331081 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RSI:before {
  content: "\e628";
}

.icon-line:before {
  content: "\e627";
}

.icon-MACD:before {
  content: "\e626";
}

.icon-tick:before {
  content: "\e623";
}

.icon-chart-k-bar:before {
  content: "\e622";
}

.icon-chart-line:before {
  content: "\e620";
}

.icon-chart-stick:before {
  content: "\e621";
}

.icon-chart-area:before {
  content: "\e61f";
}

.icon-chart-k-line:before {
  content: "\e61e";
}

.icon-withdraw-money:before {
  content: "\e619";
}

.icon-chart-up:before {
  content: "\e618";
}

.icon-give-money:before {
  content: "\e617";
}

.icon-setting:before {
  content: "\e616";
}

.icon-internet:before {
  content: "\e615";
}

.icon-info:before {
  content: "\e614";
}

.icon-rise:before {
  content: "\e610";
}

.icon-deal:before {
  content: "\e611";
}

.icon-finance:before {
  content: "\e612";
}

.icon-home:before {
  content: "\e613";
}

