<script lang="ts" setup>
import AvatarVue from '@/components/AvatarVue.vue'
import AvatarUser from '@/components/AvatarUser.vue'
</script>
<template>
  <AvatarVue> </AvatarVue>
  <AvatarUser> User Name </AvatarUser>
</template>
