// =================================
// ==============ant-radio-group==========
// =================================

.layout-main {
  .ant-radio-group {
    // display: flex;
  }

  .ant-radio-button-wrapper {
    flex: 1;
    // height: 60px;
    // line-height: 58px;
    // font-size: 16px;
  }

  .ant-radio-button-wrapper:first-child {
    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 0 @border-radius-base @border-radius-base 0;
  }

  .ant-input-group {
    input:first-child {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }

    input:last-child {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }

  .ant-radio-button-wrapper {
    // font-size: 18px;
    color: #fff;
    border: 1px solid #424b60;
    border-left-width: 0;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:first-child {
    border-left: 1px solid #424b60;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    // width: 2px;
    // top: -2px;
    // left: -2px;
    // padding: 2px 0;
    background-color: #424b60;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: @primary-color;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: @primary-color;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:focus-within,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }
}

// =================================
// ==============ant-table==========
// =================================
div.ant-table {
  background-color: transparent;
  color: #fff;
  // font-size: 18px;

  .ant-table-tbody > tr > td {
    border: none;
  }
  .ant-table-thead > tr > th {
    background-color: transparent;
    color: #fff;
    border: none;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #394b70;
  }
}

.ant-table-striped {
  .ant-table-tbody {
    tr {
      background-color: #263147;
    }
    tr:nth-child(odd) {
      background-color: #2d3953;
    }
  }
}

// =================================
// ==============ant-checkbox==========
// =================================
.layout-main {
  .ant-checkbox-wrapper {
    color: #fff;
    // font-size: 24px;
    .ant-checkbox-inner {
      background-color: transparent;
      border: solid 1px #333d51;
      // width: 24px;
      // height: 24px;
    }

    .ant-checkbox-inner::after {
      // width: 7.714286px;
      // height: 13.142857px;
    }
  }
}

// =================================
// ==============ant-input==========
// =================================
body {
  .ant-input-affix-wrapper {
    background-color: #21293a;
  }
  .ant-input {
    // box-sizing: border-box;
    // margin: 0;
    // font-variant: tabular-nums;
    // list-style: none;
    // font-feature-settings: 'tnum';
    // position: relative;
    // display: inline-block;
    // width: 100%;
    // min-width: 0;
    // padding: 4px 11px;
    // color: #000000d9;
    // font-size: 14px;
    // line-height: 1.5715;
    // background-color: #fff;
    // background-image: none;
    // border: 1px solid #d9d9d9;
    // border-radius: 2px;
    // transition: all 0.3s;

    border: solid 1px #333d51;
    background-color: #21293a;
    color: #fff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  .ant-input-affix-wrapper {
    border: solid 1px #333d51;
    background-color: #21293a;
    color: #fff;
  }
  .anticon.ant-input-clear-icon {
    color: #75859c;
    &:hover {
      color: #9cb0cd;
    }
  }

  // .ant-input:hover,
  // .ant-input:focus,
  // .ant-input-focused,
  // .ant-input-affix-wrapper:focus,
  // .ant-input-affix-wrapper-focused,
  // .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  //   border-right-width: 2px !important;
  // }
}

// =================================
// ==============ant-input ant-form==========
// =================================
body {
  .ant-form-item-label > label {
    color: #fff;
    // font-size: 18px;
  }

  .ant-input {
    // font-size: 18px;
  }
  input.ant-input {
    // line-height: 48px;
  }

  .form-s2 {
    .ant-form-item-label {
      // margin-right: -2px;
    }
    .ant-form-item-label > label {
      border: solid 1px #333d51;
      border-radius: @border-radius-base 0 0 @border-radius-base;
      height: 100%;
      // border-right: 0;
      display: flex;
      justify-content: center;
    }
    .ant-input {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }
}

// =================================
// ==============ant-button==========
// =================================
.layout-main {
  .ant-btn {
    // font-size: 18px;
    // height: 40px;
  }
  // .ant-btn-primary2 {
  //   background-image: linear-gradient(
  //     180deg,
  //     #399cf1 0%,
  //     #4affc0 100%
  //   ) !important;
  //   box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.5),
  //     2px 2px 11px 0 rgba(0, 0, 0, 0.5);
  //   border: none;
  //   color: #fff !important;
  //   &:hover {
  //     opacity: 0.9;
  //   }

  //   &:active {
  //     opacity: 1;
  //   }

  //   &.big {
  //     font-size: 30px;
  //     height: 48px;
  //     line-height: 40px;
  //   }
  // }

  .ant-btn-primary {
    &.big {
      // font-size: 26px;
      // height: 58px;
      // line-height: 38px;
    }
  }
}

// =================================
// ==============ant-modal==========
// =================================
.ant-modal {
  .ant-modal-header {
    background-color: #171e2d;
    border: none;
    // padding: 34px 24px;
  }

  .ant-modal-content {
    background-color: #171e2d;
    box-shadow: 0px 10px 58px 0px rgba(0, 0, 0, 0.24);

    color: #fff;
  }
  .ant-modal-footer {
    border-top: none;
  }
  .ant-modal-title {
    color: #fff;
    // font-size: 24px;
  }
  .ant-modal-close-x {
    // font-size: 28px;
    .anticon {
      vertical-align: 0.15em;
    }
  }
  .ant-modal-close {
    color: #333d51;
    &:hover {
      // color: #333d51;
    }
  }
}

// =================================
// ==============icon anticon==========
// =================================
.app-iconify.anticon svg {
  display: block;
}

body {
  .ant-select {
    // font-size: 18px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    // height: 42px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    // line-height: 38px;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-right-width: 1px !important;
  }
}
// =================================
// ==============ant-picker==========
// =================================
// body {
//   .ant-picker-input > input {
//     font-size: 18px;

//     &::placeholder {
//       color: #b2b3b4 !important;
//     }
//   }

//   .ant-picker-suffix {
//     font-size: 18px;
//   }
// }
// [data-theme='dark'] {
//   .ant-picker {
//     color: #c9d1d9;
//     background: 0 0;
//     // border: 1px solid #303030;
//     border: solid 2px #333d51;
//   }
//   .ant-picker:hover,
//   .ant-picker-focused {
//     border-right-width: 2px !important;
//   }

//   .ant-picker-focused,
//   .ant-picker:hover {
//     border-color: #2a7dc9;
//   }

//   .ant-picker-focused {
//     border-color: #0960bd;
//     box-shadow: 0 0 0 2px rgba(9, 96, 189, 0.2);
//   }

//   .ant-picker.ant-picker-disabled {
//     background: rgba(255, 255, 255, 0.08);
//     border-color: #303030;
//   }

//   .ant-picker.ant-picker-disabled .ant-picker-suffix {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker.ant-picker-borderless {
//     background-color: transparent !important;
//     border-color: transparent !important;
//   }

//   .ant-picker-input > input {
//     // color: #c9d1d9;
//     color: #fff;
//     background-color: transparent;
//     // border: 1px solid #303030;
//     background: 0 0;
//   }

//   .ant-picker-input > input::placeholder {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-input > input:hover {
//     // border-color: #2a7dc9;
//   }

//   .ant-picker-input > input-focused,
//   .ant-picker-input > input:focus {
//     // border-color: #0960bd;
//     // box-shadow: 0 0 0 2px rgba(9, 96, 189, 0.2);
//   }

//   .ant-picker-input > input-disabled {
//     color: rgba(255, 255, 255, 0.3);
//     background-color: rgba(255, 255, 255, 0.08);
//     border-color: #303030;
//   }

//   .ant-picker-input > input-disabled:hover {
//     border-color: #303030;
//   }

//   .ant-picker-input > input[disabled] {
//     color: rgba(255, 255, 255, 0.3);
//     background-color: rgba(255, 255, 255, 0.08);
//     border-color: #303030;
//   }

//   .ant-picker-input > input[disabled]:hover {
//     border-color: #303030;
//   }

//   .ant-picker-input > input-borderless,
//   .ant-picker-input > input-borderless-disabled,
//   .ant-picker-input > input-borderless-focused,
//   .ant-picker-input > input-borderless:focus,
//   .ant-picker-input > input-borderless:hover,
//   .ant-picker-input > input-borderless[disabled] {
//     background-color: transparent;
//   }

//   .ant-picker-input > input[disabled] {
//     background: 0 0;
//   }

//   .ant-picker-input-placeholder > input {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-suffix {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-clear {
//     color: rgba(255, 255, 255, 0.3);
//     background: #151515;
//   }

//   .ant-picker-clear:hover {
//     color: #8b949e;
//   }

//   .ant-picker-separator {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-focused .ant-picker-separator {
//     color: #8b949e;
//   }

//   .ant-picker-range .ant-picker-active-bar {
//     background: #0960bd;
//   }

//   .ant-picker-dropdown {
//     color: #c9d1d9;
//   }

//   .ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
//     color: #0960bd;
//     background: rgba(255, 255, 255, 0.08);
//     border-color: #78b7e3;
//   }

//   .ant-picker-range-arrow::after {
//     border: 5px solid #303030;
//     border-color: #1f1f1f;
//   }

//   .ant-picker-panel-container {
//     background: #1f1f1f;
//   }

//   .ant-picker-panel-container .ant-picker-panel {
//     background: 0 0;
//   }

//   .ant-picker-panel-container .ant-picker-panel-focused {
//     border-color: #303030;
//   }

//   .ant-picker-panel {
//     background: #1f1f1f;
//     border: 1px solid #303030;
//   }

//   .ant-picker-panel-focused {
//     border-color: #0960bd;
//   }

//   .ant-picker-header {
//     color: rgba(255, 255, 255, 0.65);
//     border-bottom: 1px solid #303030;
//   }

//   .ant-picker-header button {
//     color: rgba(255, 255, 255, 0.3);
//     background: 0 0;
//   }

//   .ant-picker-header > button:hover {
//     color: #c9d1d9;
//   }

//   .ant-picker-header-view button:hover {
//     color: #0960bd;
//   }

//   .ant-picker-content th {
//     color: #c9d1d9;
//   }

//   .ant-picker-cell {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-cell-in-view {
//     color: #c9d1d9;
//   }

//   .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
//   .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
//     .ant-picker-cell-inner {
//     background: rgba(255, 255, 255, 0.08);
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-today
//     .ant-picker-cell-inner::before {
//     border: 1px solid #0960bd;
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
//     background: rgba(255, 255, 255, 0.08);
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
//   .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
//   .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
//     color: #fff;
//     background: #0960bd;
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
//   .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before {
//     background: rgba(255, 255, 255, 0.08);
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
//     border-top: 1px dashed #042f5c;
//     border-bottom: 1px dashed #042f5c;
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
//   .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
//   .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
//   .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
//   .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
//   .ant-picker-panel
//     > :not(.ant-picker-date-panel)
//     .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before,
//   .ant-picker-panel
//     > :not(.ant-picker-date-panel)
//     .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before {
//     background: #010913;
//   }

//   .ant-picker-date-panel
//     .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
//     .ant-picker-cell-inner::after,
//   .ant-picker-date-panel
//     .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
//     .ant-picker-cell-inner::after {
//     background: #010913;
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after,
//   .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
//   tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
//   tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after {
//     border-left: 1px dashed #042f5c;
//   }

//   .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
//   .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after,
//   tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
//   tr > .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after {
//     border-right: 1px dashed #042f5c;
//   }

//   .ant-picker-cell-disabled {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-cell-disabled .ant-picker-cell-inner {
//     background: 0 0;
//   }

//   .ant-picker-cell-disabled::before {
//     background: #303030;
//   }

//   .ant-picker-cell-disabled.ant-picker-cell-today
//     .ant-picker-cell-inner::before {
//     border-color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-footer {
//     border-bottom: 1px solid transparent;
//   }

//   .ant-picker-panel .ant-picker-footer {
//     border-top: 1px solid #303030;
//   }

//   .ant-picker-footer-extra:not(:last-child) {
//     border-bottom: 1px solid #303030;
//   }

//   .ant-picker-today-btn {
//     color: #0960bd;
//   }

//   .ant-picker-today-btn:hover {
//     color: #2a7dc9;
//   }

//   .ant-picker-today-btn:active {
//     color: #004496;
//   }

//   .ant-picker-today-btn.ant-picker-today-btn-disabled {
//     color: rgba(255, 255, 255, 0.3);
//   }

//   .ant-picker-month-panel .ant-picker-cell-range-hover-start::after,
//   .ant-picker-quarter-panel .ant-picker-cell-range-hover-start::after,
//   .ant-picker-year-panel .ant-picker-cell-range-hover-start::after {
//     border-left: 1px dashed #042f5c;
//   }

//   .ant-picker-panel-rtl
//     .ant-picker-month-panel
//     .ant-picker-cell-range-hover-start::after,
//   .ant-picker-panel-rtl
//     .ant-picker-quarter-panel
//     .ant-picker-cell-range-hover-start::after,
//   .ant-picker-panel-rtl
//     .ant-picker-year-panel
//     .ant-picker-cell-range-hover-start::after {
//     border-right: 1px dashed #042f5c;
//   }

//   .ant-picker-month-panel .ant-picker-cell-range-hover-end::after,
//   .ant-picker-quarter-panel .ant-picker-cell-range-hover-end::after,
//   .ant-picker-year-panel .ant-picker-cell-range-hover-end::after {
//     border-right: 1px dashed #042f5c;
//   }

//   .ant-picker-panel-rtl
//     .ant-picker-month-panel
//     .ant-picker-cell-range-hover-end::after,
//   .ant-picker-panel-rtl
//     .ant-picker-quarter-panel
//     .ant-picker-cell-range-hover-end::after,
//   .ant-picker-panel-rtl
//     .ant-picker-year-panel
//     .ant-picker-cell-range-hover-end::after {
//     border-left: 1px dashed #042f5c;
//   }

//   .ant-picker-week-panel .ant-picker-cell .ant-picker-cell-inner,
//   .ant-picker-week-panel .ant-picker-cell-selected .ant-picker-cell-inner,
//   .ant-picker-week-panel .ant-picker-cell:hover .ant-picker-cell-inner {
//     background: 0 0 !important;
//   }

//   .ant-picker-week-panel-row:hover td {
//     background: rgba(255, 255, 255, 0.08);
//   }

//   .ant-picker-week-panel-row-selected td,
//   .ant-picker-week-panel-row-selected:hover td {
//     background: #0960bd;
//   }

//   .ant-picker-week-panel-row-selected td.ant-picker-cell-week,
//   .ant-picker-week-panel-row-selected:hover td.ant-picker-cell-week {
//     color: rgba(255, 255, 255, 0.5);
//   }

//   .ant-picker-week-panel-row-selected
//     td.ant-picker-cell-today
//     .ant-picker-cell-inner::before,
//   .ant-picker-week-panel-row-selected:hover
//     td.ant-picker-cell-today
//     .ant-picker-cell-inner::before {
//     border-color: #fff;
//   }

//   .ant-picker-week-panel-row-selected td .ant-picker-cell-inner,
//   .ant-picker-week-panel-row-selected:hover td .ant-picker-cell-inner {
//     color: #fff;
//   }

//   .ant-picker-datetime-panel .ant-picker-time-panel {
//     border-left: 1px solid #303030;
//   }

//   .ant-picker-time-panel-column:not(:first-child) {
//     border-left: 1px solid #303030;
//   }

//   .ant-picker-time-panel-column-active {
//     background: rgba(17, 27, 38, 0.2);
//   }

//   .ant-picker-time-panel-column
//     > li.ant-picker-time-panel-cell
//     .ant-picker-time-panel-cell-inner {
//     color: #c9d1d9;
//   }

//   .ant-picker-time-panel-column
//     > li.ant-picker-time-panel-cell
//     .ant-picker-time-panel-cell-inner:hover {
//     background: rgba(255, 255, 255, 0.08);
//   }

//   .ant-picker-time-panel-column
//     > li.ant-picker-time-panel-cell-selected
//     .ant-picker-time-panel-cell-inner {
//     background: #111b26;
//   }

//   .ant-picker-time-panel-column
//     > li.ant-picker-time-panel-cell-disabled
//     .ant-picker-time-panel-cell-inner {
//     color: rgba(255, 255, 255, 0.3);
//     background: 0 0;
//   }

//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-selected):first-child::after {
//     border-right: 1px dashed #042f5c;
//   }

//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-selected):last-child::after {
//     border-left: 1px dashed #042f5c;
//   }

//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-start.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover)::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover)::after,
//   .ant-picker-panel-rtl
//     .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-end.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover)::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover.ant-picker-cell-range-hover-edge-end:first-child::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
//   .ant-picker-panel-rtl
//     tr
//     > .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover.ant-picker-cell-range-hover-edge-start:last-child::after {
//     border-right: 1px dashed #042f5c;
//     border-left: 1px dashed #042f5c;
//   }
// }
