// =================================
// ==============ant-radio-group====
// =================================

body {
  .ant-radio-group {
    // display: flex;
  }

  .ant-radio-button-wrapper {
    flex: 1;
    // height: 60px;
    // line-height: 58px;
    // font-size: 16px;
  }

  .ant-radio-button-wrapper:first-child {
    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 0 @border-radius-base @border-radius-base 0;
  }

  .ant-input-group {
    input:first-child {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }

    input:last-child {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }

  .ant-radio-button-wrapper {
    // font-size: 18px;
    color: #fff;
    border: 1px solid #424b60;
    border-left-width: 0;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:first-child {
    border-left: 1px solid #424b60;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    // width: 2px;
    // top: -2px;
    // left: -2px;
    // padding: 2px 0;
    background-color: #424b60;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: @primary-color;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: @primary-color;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:focus-within,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }
}

// =================================
// ==============ant-table==========
// =================================
div.ant-table,
.ant-modal div.ant-table {
  background-color: transparent;
  // color: #fff;
  // font-size: 18px;

  .ant-table-tbody > tr > td {
    border: none;
  }
  .ant-table-thead > tr > th {
    background-color: transparent;
    // color: #fff;
    border: none;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #394b70;
  }
}

.ant-table-striped {
  .ant-table-tbody {
    tr {
      background-color: #263147;
    }
    tr:nth-child(odd) {
      background-color: #2d3953;
    }
  }
}

// =================================
// ==============ant-checkbox=======
// =================================
body {
  .ant-checkbox-wrapper {
    color: #fff;
    // font-size: 24px;
    .ant-checkbox-inner {
      background-color: transparent;
      border: solid 1px #333d51;
      // width: 24px;
      // height: 24px;
    }

    .ant-checkbox-inner::after {
      // width: 7.714286px;
      // height: 13.142857px;
    }
  }
}

// =================================
// ==============ant-form==========
// =================================
body {
  .ant-form-item-label > label {
    // color: #fff;
    // font-size: 18px;
    color: #bfbfbf;
  }

  .form-s2 {
    .ant-form-item-label {
      // margin-right: -2px;
    }
    .ant-form-item-label > label {
      border: solid 1px #333d51;
      border-radius: @border-radius-base 0 0 @border-radius-base;
      height: 100%;
      border-right: 0;
      display: flex;
      justify-content: center;
      background: #ffffff05;
    }
    .ant-input {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }
}

// =================================
// ==============icon anticon==========
// =================================
.app-iconify.anticon svg {
  display: block;
}

body {
  .ant-select {
    // font-size: 18px;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    // height: 42px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    // line-height: 38px;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector,
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-right-width: 1px !important;
  }
}
