// =================================
// ==============ant-radio-group==========
// =================================

.layout-main {
  .ant-radio-group {
    // display: flex;
  }

  .ant-radio-button-wrapper {
    flex: 1;
    height: 60px;
    line-height: 58px;
    font-size: 16px;
  }

  .ant-radio-button-wrapper:first-child {
    border-radius: @border-radius-base 0 0 @border-radius-base;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 0 @border-radius-base @border-radius-base 0;
  }

  .ant-input-group {
    input:first-child {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }

    input:last-child {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }

  .ant-radio-button-wrapper {
    font-size: 18px;
    color: #fff;
    border: 2px solid #424b60;
    border-left-width: 0;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:first-child {
    border-left: 2px solid #424b60;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    width: 2px;
    top: -2px;
    left: -2px;
    padding: 2px 0;
    background-color: #424b60;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: @primary-color;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: @primary-color;
    background-color: transparent;
  }

  .ant-radio-button-wrapper:focus-within,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: none;
  }
}

// =================================
// ==============ant-table==========
// =================================
div.ant-table {
  background-color: transparent;
  color: #fff;
  font-size: 18px;

  .ant-table-tbody > tr > td {
    border: none;
  }
  .ant-table-thead > tr > th {
    background-color: transparent;
    color: #fff;
    border: none;
  }

  .ant-table-tbody > tr.ant-table-row:hover > td,
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background: #394b70;
  }
}

.ant-table-striped {
  .ant-table-tbody {
    tr {
      background-color: #263147;
    }
    tr:nth-child(odd) {
      background-color: #2d3953;
    }
  }
}

// =================================
// ==============ant-checkbox==========
// =================================
.layout-main {
  .ant-checkbox-wrapper {
    color: #fff;
    font-size: 24px;
    .ant-checkbox-inner {
      background-color: transparent;
      border: solid 2px #333d51;
      width: 24px;
      height: 24px;
    }

    .ant-checkbox-inner::after {
      width: 7.714286px;
      height: 13.142857px;
    }
  }
}

// =================================
// ==============ant-input==========
// =================================
.layout-main {
  .ant-input-affix-wrapper {
    background-color: #21293a;
  }
  .ant-input {
    // box-sizing: border-box;
    // margin: 0;
    // font-variant: tabular-nums;
    // list-style: none;
    // font-feature-settings: 'tnum';
    // position: relative;
    // display: inline-block;
    // width: 100%;
    // min-width: 0;
    // padding: 4px 11px;
    // color: #000000d9;
    // font-size: 14px;
    // line-height: 1.5715;
    // background-color: #fff;
    // background-image: none;
    // border: 1px solid #d9d9d9;
    // border-radius: 2px;
    // transition: all 0.3s;

    border: solid 2px #333d51;
    background-color: #21293a;
    color: #fff;
  }
  .ant-input-affix-wrapper {
    border: solid 2px #333d51;
    background-color: #21293a;
    color: #fff;
  }
  .anticon.ant-input-clear-icon {
    color: #75859c;
    &:hover {
      color: #9cb0cd;
    }
  }

  .ant-input:hover,
  .ant-input:focus,
  .ant-input-focused,
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-right-width: 2px !important;
  }
}

// =================================
// ==============ant-input ant-form==========
// =================================
.layout-main {
  .ant-form-item-label > label {
    color: #fff;
    font-size: 18px;
  }

  .ant-input {
    font-size: 18px;
  }
  input.ant-input {
    line-height: 48px;
  }

  .form-s2 {
    .ant-form-item-label {
      margin-right: -2px;
    }
    .ant-form-item-label > label {
      border: solid 2px #333d51;
      border-radius: @border-radius-base 0 0 @border-radius-base;
      height: 100%;
      // border-right: 0;
      display: flex;
      justify-content: center;
    }
    .ant-input {
      border-radius: 0 @border-radius-base @border-radius-base 0;
    }
  }
}

// =================================
// ==============ant-button==========
// =================================
.layout-main {
  .ant-btn {
    font-size: 18px;
    height: 40px;
  }
  // .ant-btn-primary2 {
  //   background-image: linear-gradient(
  //     180deg,
  //     #399cf1 0%,
  //     #4affc0 100%
  //   ) !important;
  //   box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.5),
  //     2px 2px 11px 0 rgba(0, 0, 0, 0.5);
  //   border: none;
  //   color: #fff !important;
  //   &:hover {
  //     opacity: 0.9;
  //   }

  //   &:active {
  //     opacity: 1;
  //   }

  //   &.big {
  //     font-size: 30px;
  //     height: 48px;
  //     line-height: 40px;
  //   }
  // }

  .ant-btn-primary {
    &.big {
      font-size: 26px;
      height: 58px;
      line-height: 38px;
    }
  }
}

// =================================
// ==============ant-modal==========
// =================================
.ant-modal {
  .ant-modal-header {
    background-color: #171e2d;
    border: none;
    padding: 34px 24px;
  }

  .ant-modal-content {
    background-color: #171e2d;
    box-shadow: 0px 10px 58px 0px rgba(0, 0, 0, 0.24);

    color: #fff;
  }
  .ant-modal-footer {
    border-top: none;
  }
  .ant-modal-title {
    color: #fff;
    font-size: 24px;
  }
  .ant-modal-close-x {
    font-size: 28px;
    .anticon {
      vertical-align: 0.15em;
    }
  }
  .ant-modal-close {
    color: #333d51;
    &:hover {
      // color: #333d51;
    }
  }
}
// =================================
// ==============anticon==========
// =================================
.app-iconify.anticon svg {
  display: block;
}
