#app {
  width: 100%;
  height: 100%;
  color: @text-color;
  font-size: @font-size-base;
}

// =================================
// ==============scrollbar==========
// =================================

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

// ::-webkit-scrollbar-track {
//   background: transparent;
// }

::-webkit-scrollbar-track {
  background-color: #242b3a;
}

::-webkit-scrollbar-thumb {
  background-color: #414653;
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  // background-color: @border-color-dark;
  background-color: #4b505c;
}

// =================================
// ==============nprogress==========
// =================================
#nprogress {
  pointer-events: none;
  background-color: rgba(48, 153, 245, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 2px;
  .bar {
    height: 2px;
    background-color: #3099f5;
    box-shadow: 0 0 10px rgb(48 153 245 / 70%);
  }

  // background-color: #3099f5;
  // width: 22%;
  // transition: width .2s;
  // opacity: 1;
  // filter: none;
  // box-shadow: 0 0 10px rgb(48 153 245 / 70%);
}
